*{
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#title{
    margin: 0% 5%;
    padding: 0%;
    height: auto;
}
.navbar{
    background-color: #036638;
    padding: 20px 3%;
}

.nav-item{
    margin-left: 20px;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.nav-link:hover{
    color: white;
}
.navbar-logo img{
    width: 110px;
    height: 50px;
}


.health{
    padding: 40px 3%;
}
.health-con-2 img{
    width: 250px;
    height: 300px;
}
.health-con-3 img{
    width: 270px;
    height: 300px;
}

.health-con-4 p{
    padding-top: 90px;
}
.health-con-1 h2{
    margin-top: 60px;
    color: #036638;
}
.health-con-1 p{
    margin-top: 20px;
}
.health-con-2,.health-con-3{
    display: flex;
    justify-content: center;
}
.health-con-1{
    padding-left: 40px;
}

#Consulting{
    margin: 0% 5%;
    color: #ffffff;
    text-align: center;
    height: 100%;
}
.Consulting-con-0{
    background-color: #036638;
    padding-bottom: 130px;
}
.Consulting-con-2 img{
    width: 300px;
    height: 100%;
}

.Consulting-con-1{
   margin: 30px 70px;
}
.Consulting-con-1 h1{
    color: #FFA300;
}
.Consulting-con{
    height: 100%;
}

.con-card{
    height: 100%;
    padding: 0px 3%;
    color: #036638;
    gap: 15px;
    display: flex;
    justify-content: center;
    margin-top: -130px;
    
    
}
.con-card-1,.con-card-2{
    background-color: white;   
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.19)
}
.con-card-1 i,.con-card-2 i{
    font-size: 40px;
    padding: 40px 0px 18px 0px;
}
.con-card-1 p,.con-card-2 p{
    padding-top: 15px;
}
.con-card-2{
    background-color: white;
}


#credo{
    margin:2% 15%;
    padding: 0%;
    height: auto;
}
.credo-text{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   justify-content: center;
}
.credo-con{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
}
.credo-con h3{
    text-align: center;
    color: #035D33;
}
.cred-no h1{
    color: #035D33;
    font-size: 55px;
    text-align: center;
    margin-top: -38px;
    margin-left: 5px;
}

.cred-no{
    width: 65px ;
    height: 65px;
    background-color: #FFF6E6;
    border-radius: 50%;
    padding: 20px;
    margin-top: 10px;
}

.cred-text{
    color: #888888;
    text-align: center;
}

#focus-area{
    margin: 0% 5%;
    padding: 0%;
    background-color: #035D33;
}

.focus{
    margin: 0% 15%;
}
.focus h2{
    margin: 0%;   
    padding: 30px 0px;
    text-align: center;
    color: #FFA300;
}

.focus p{   
    color: white;
    padding-bottom: 30px;
}

#focus-geo{
    margin:2% 15%;
    padding: 0%;
    height: auto;
}
#focus-geo h2{
    text-align: center;
    color:#036638;
    padding: 15px 0px;
}
.geo-con{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 0px ;
    padding: 25px 0px;
}
.geo-img{
    text-align: center;
}
.geo-img img{
    width: 100px ;
    height: 100px;
    /* margin-left: 50px; */
    margin-top: 10px;
}

.geo-text p{
    color: #000000;
    font-size: 18px;
}
.geo-text h1{
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}
/* ================================== */
#fc-card{
    margin: 0% 5%;
    padding-bottom: 60px;
}
.fc-card-con-1{
    justify-content: center;
}
.fc-con-1{
    padding: 20px 0px;
    text-align: center;
}
.fc-con-1 h5{
    text-align: center;
    font: 18px;
    letter-spacing: 12px;
    color: #036638;
}

.fc-con-1 p{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 500;
}
.fc-card-con-2{
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.fc-con-2{
     height: 250px;
     width: 200px;
    text-align: center;
    padding: 60px 20px;
}
.fc-con-2:hover{
    background-color:#035D33;
    transform: rotate(10deg);
}
.fc-con-2 h4{
     color: white;
     padding-top: 25px;
}
.fc-con-2 img{
    height: 70px;
    width: 70px;
}
.fc-con-2{
    background-color:#00AC5C;
}

/* ======================= */
#our-core{
    margin: 0% 5%;
    padding-bottom: 60px;
    background-color: #FBFBFB;
}
.core-con-1{
    justify-content: center;
}
.our-con-1{
    padding: 60px 0px 10px  0px;
    text-align: center;
}
.our-con-1 h5{
    text-align: center;
    font: 18px;
    letter-spacing: 12px;
    color: #036638;
}

.our-con-1 p{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 500;
}
.core-con-2{
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.our-con-2{
    text-align: center;
}

.our-con-2 h6{
     color: #035D33;
     padding-top: 15px;
}
.our-con-2 p{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}
.our-con-2 img{
    height: 60px;
    width: 60px;
    background-color: #71BE45;
    padding: 10px;
    border-radius: 40px;
}
.fc-con-2{
    background-color:#00AC5C;
}




#our-team{
    margin: 0% 5%;
    height: 100%;
    justify-content: center;
    padding-top: 50px;
}
.team-con{
    padding: 0%;
    margin: 0%;
    justify-content: center; 
}
.team-head h5{
    text-align: center;
    font: 18px;
    letter-spacing: 12px;
    color: #036638;
}
.team-hd{
    justify-content: center;
}
.team-head p{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 500;
}
.con-text{
  text-align: center;
  padding: 0%;
  margin: 0% ;
  width: auto;
}
.man-img {
    width: 250px;
}
.man-text{
  background-color: #DCEFE6;
  width: 250px;
}
.man-text h3{
    font-size: 25px;
    padding-top: 15px;
    color: #035D33;
}
.man-text h6{
    color: #000000;
}
.man-text p{
    color: #000000;
    font-size: 14px;
    padding: 10px 35px 10px 35px;
    margin-bottom: 0%;

}
.man-img img{
    width: 250px;
    height: 250px;

}




#footer{
    margin: 0 5%;
    height: 100%;
}
.footer-content{
    margin: 50px 3%;
}

.foot-con-text-1 h4{
    padding-top: 30px;
    color: black;
    font-weight: 600;
}
.foot-con-text-1 p{
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.footer-form{
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
}
.footer-form input{
    padding: 6px 10px;
    border: 0.5px solid rgb(177, 177, 177);
    width: 170px;
    font-size: 12px;
}

button{
    padding: 5px 15px;
    color: white;
    border-style: none;
    background-color: #036638;
    margin-left: 10px;
}

.foot-item{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 50px;
    padding-right: 50px;
}
.foot-link{
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.fot-icon{
    display: flex;
    justify-content: end;
    margin-top: 100px;
    padding-right: 50px;
}
.fa-brands{
    color: #036638;
    font-size: 22px;
    padding-left: 10px;
}

@media (max-width:576px) {
    .health {
        padding: 20px 3%;
    }
    .health-con-1 h2{
        margin-top: 10px;
    }
    .health-con-4 p {
        padding-top: 30px;
    }
    .Consulting-con-1{
        margin: 15px 5px;
    }
    .con-card {
        padding: 0% 3% 0% 5%;
    }
    #credo{
        margin:2% 10%;
    }
    
    .focus{
        margin: 0% 1%;
    }
    #focus-area {
        margin: 0%;
    }

    #focus-geo {
        margin: 2% 5%;
    }
    .fc-con-1 p {
        font-size: 18px;
        margin-bottom: 0rem;
    }
    .fc-con-2 {
        width: 250px;
    }
    #fc-card {
        padding-bottom: 40px;
    }
    .our-con-1 {
        padding: 30px 0px 10px 0px;
    }
    .our-con-1 p {
        font-size: 18px;
    }
    .team-head p {
        font-size: 18px;
    }
    .man-text p {
        padding: 10px 5px;
    }
    .team-con {
        gap: 10px;
    }
    .nav-item {
        margin-left: 0px;
    }
    .foot-item{
        gap: 10px;
        justify-content: start;
        padding: 0%;
    }
    .foot-nav{
        padding: 0;
    }
    .fot-icon{
        margin-top: 10px;
        padding-right: 10px;
    }

    #our-core{
        margin: 0%;
        padding: 20px 15px 60px 15px;
    }
    
    div.health-con-3{order: 2;}
    div.health-con-4{order: 1;}

}