*{
    font-family: 'Abel',  sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#title{
    margin: 0% 5%;
    padding: 0%;
    height: auto;
    width: auto;
} 
.navbar{
    background-color: #036638;
}
.navbar{
    padding: 20px 3%;
}
.nav-item{
    margin-left: 20px;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.nav-link:hover{
    color: white;
}
.navbar-logo img{
    width: 110px;
    height: 50px;
}


.contact{
    height: 100%;
    width: auto;
    background-color: #FFA300;
}
.contact-img img{
    width: 100%;
    height: 100%;
}
.contact-form{
    padding: 50px 25px;
}
.contact-form h5{
   font-size: 14px;
}
.contact-form h3{
    font-size: 40px;
}
.form-item{
    display: flex;
    padding-top: 15px;
}
.form-item input{
    padding: 15px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
.con-form{
    border: none;
    width: 230px;   
    margin-left:60px;
    font-size: 14px;
}
.con-form-ph{
    margin-left: 30px;
    border-style: none;
    width: 230px;
    font-size: 14px;
}
.con-form-em{
    margin-left: 55px;
    border-style: none;
    width: 230px;
    font-size: 14px;
}

.sub-btn{
    font-size: 12px;
    background-color: #036638;
    color: white;
    padding: 10px 30px;
    border-style: none ;
    border-radius: 20px;   
    margin: 10px 100px;

}
.btn:hover{
    background: #ffffff;
}

#footer{
    margin: 0 5%;
    height: 100%;
}
.footer-content{
    margin: 50px 3%;
}

.foot-con-text-1 h4{
    padding-top: 30px;
    color: black;
    font-weight: 600;
}
.foot-con-text-1 p{
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.footer-form{
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
}
.footer-form input{
    padding: 6px 10px;
    border: 0.5px solid rgb(177, 177, 177);
    width: 170px;
    font-size: 12px;
}

.foot-btn{
    padding: 5px 15px;
    color: white;
    border-style: none;
    background-color: #036638;
    margin-left: 10px;
}

.foot-item{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 50px;
    padding-right: 50px;
}
.foot-link{
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.fot-icon{
    display: flex;
    justify-content: end;
    margin-top: 100px;
    padding-right: 50px;
}
.fa-brands{
    color: #036638;
    font-size: 22px;
    padding-left: 10px;
}



@media (max-width:576px) {
    .contact-form h3 {
        font-size: 30px;
    }
    .con-form-em {
        margin-left: 68px;
    }
    .con-form-ph {
        margin-left: 50px;
    }
    .contact-form {
        padding: 30px 25px;
    }
    .form-item input{
        padding: 10px;
    }
    .nav-item {
        margin-left: 0px;
    }
    .foot-item{
        gap: 10px;
        justify-content: start;
        padding: 0%;
    }
    .foot-nav{
        padding: 0;
    }
    .fot-icon{
        margin-top: 10px;
        padding-right: 10px;
    }

}